---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Vanessa da S. Santos</h1>
			<p class="hero__text">
				Sou uma desenvolvedora Front-end e mobile.
			</p>
			<Boton href="https://www.linkedin.com/in/vanessa-da-s-santos-aa4a29267/" texto="Quero saber mais"/>
		</div>
    <img
		class="hero__img"
		src="/img/logo.png"
		alt="Vanessa da S. Santos"
		width="384"
    	height="384"
	/>
	</div>
</section>
