---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p class="text-paragraph">
			Tenho experiência com JavaScript, aplicando lógica de programação, manipulação do DOM e integração com APIs. Utilizo React e React Native para construir interfaces modernas, responsivas e funcionais, com foco em componentização e reutilização de código. Com HTML e CSS, desenvolvo layouts bem estruturados, responsivos e compatíveis com diferentes dispositivos, seguindo boas práticas de semântica e organização visual. Também sei utilizar o Node.js e o npm para gerenciamento de pacotes e configuração de ambientes de desenvolvimento.
		</p>
	</div>
</section>
